Categorías inconsistentes
===

* Ultima actualización: Marzo 6, 2023 | [YouTube](https://www.youtube.com/watch?v=4DzusT3Nl-Q&list=PLEFpZ3YehTnDX6z1fx4rT0wkt80ythBhc&index=5)

In [ ]:
import numpy as np
import pandas as pd

print(np.__version__)
print(pd.__version__)

1.23.5
1.5.2

In [ ]:
%%writefile /tmp/data.csv
personId,eventType
1,AA
2,A
3,AZ
4,AB
5,ZB
6,ZZ
7,BA
8,BB

Overwriting /tmp/data.csv

In [ ]:
valid_eventType = {'AA', 'AB', 'BA', 'BB'}

df = pd.read_csv('/tmp/data.csv')

#
# Categorias inconsistentes
#
set(df.eventType).difference(valid_eventType)

{'A', 'AZ', 'ZB', 'ZZ'}

La instrucción `df[~df.eventType.isin(valid_eventType)]` filtra las filas del DataFrame `df` donde la columna "`eventType`" no contiene valores que se encuentran en la lista `valid_eventType`.

El operador `~` invierte los valores booleanos.

In [ ]:
#
# Registros con categorias inconsistentes
#
df[~df.eventType.isin(valid_eventType)]

   personId eventType
1         2         A
2         3        AZ
4         5        ZB
5         6        ZZ

## Posibles soluciones

* Borrado del registro.

* Reemplazo de las categorias inconsistentes

* Inferencia la categoria a partir de otros campos.

## Borrado

In [ ]:
#
# Borrado de registros inconsistentes
#
df = df[df.eventType.isin(valid_eventType)]
df

   personId eventType
0         1        AA
3         4        AB
6         7        BA
7         8        BB