Registros duplicados
===

* Ultima actualización: Marzo 6, 2023 | [YouTube](https://www.youtube.com/watch?v=4DzusT3Nl-Q&list=PLEFpZ3YehTnDX6z1fx4rT0wkt80ythBhc&index=10)

**Posibilidades**:

   * Registro completo duplicado.
   
   * Algunos campos duplicados, demas campos con valores diferentes
   
   
**Soluciones posibles**:

   * Borrado de los registros completamente duplicados.
    
   * Agregación para campos con valores diferentes.

>[Registros duplicados](#scrollTo=a70d52ad-0f57-44c7-80d3-67a8af0af81e)

>>[Datos](#scrollTo=ltnTQgd11KD3)

>>[Registro completo](#scrollTo=KeBHWDSR08Qa)

>>[Algunos campos](#scrollTo=6n05yX3m0_mB)

>>[Borrado (Completamente duplicado)](#scrollTo=WIQD-a6s1b49)

In [ ]:
import pandas as pd

pd.__version__

'1.5.2'

## Datos

In [ ]:
%%writefile /tmp/data.csv
clientId,name,phone,companyId
1,Hersch Szymanowicz,+237 (561) 702-4118,3
2,Gaven Brito,+51 (870) 799-1508,7
3,Maressa Pavlishchev,+62 (350) 377-8621,4
4,Corine Dunseith,+63 (797) 344-2571,8
5,Ramon Lawrence,+66 (557) 865-3845,6
6,Ibbie Whitehouse,+98 (495) 896-6408,1
7,Neils Capelen,+86 (361) 914-8734,6
8,Thia Malkie,+46 (564) 145-8997,4
9,Missy Folomkin,+33 (962) 798-0776,7
10,Eleanor Gallamore,+86 (366) 702-2334,5
7,Neils Capelen,+86 (361) 914-8734,6
4,Corine Dunseith,+63 (797) 344-2571,8
2,Gaven Brito,+51 (870) 799-2308,2
5,Ramon Lawrence,+66 (557) 061-3844,5
4,Corine Dunseith,+63 (797) 344-2571,8

Overwriting /tmp/data.csv

In [ ]:
df = pd.read_csv('/tmp/data.csv')

display(
    df,
    df.dtypes
)

    clientId                 name                phone  companyId
0          1   Hersch Szymanowicz  +237 (561) 702-4118          3
1          2          Gaven Brito   +51 (870) 799-1508          7
2          3  Maressa Pavlishchev   +62 (350) 377-8621          4
3          4      Corine Dunseith   +63 (797) 344-2571          8
4          5       Ramon Lawrence   +66 (557) 865-3845          6
5          6     Ibbie Whitehouse   +98 (495) 896-6408          1
6          7        Neils Capelen   +86 (361) 914-8734          6
7          8          Thia Malkie   +46 (564) 145-8997          4
8          9       Missy Folomkin   +33 (962) 798-0776          7
9         10    Eleanor Gallamore   +86 (366) 702-2334          5
10         7        Neils Capelen   +86 (361) 914-8734          6
11         4      Corine Dunseith   +63 (797) 344-2571          8
12         2          Gaven Brito   +51 (870) 799-2308          2
13         5       Ramon Lawrence   +66 (557) 061-3844          5
14         4      Corine Dunseith   +63 (797) 344-2571          8

clientId      int64
name         object
phone        object
companyId     int64
dtype: object

## Registro completo

In [ ]:
#
# La función duplicaated() indica si el registro
# completo está duplicado.
#
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10     True
11     True
12    False
13    False
14     True
dtype: bool

In [ ]:
#
# Visualización de los registros duplicados
#
df[df.duplicated(keep='first')]

    clientId             name               phone  companyId
10         7    Neils Capelen  +86 (361) 914-8734          6
11         4  Corine Dunseith  +63 (797) 344-2571          8
14         4  Corine Dunseith  +63 (797) 344-2571          8

In [ ]:
#
# Visualización de los registros duplicados
#
df[df.duplicated(keep='last')]

    clientId             name               phone  companyId
3          4  Corine Dunseith  +63 (797) 344-2571          8
6          7    Neils Capelen  +86 (361) 914-8734          6
11         4  Corine Dunseith  +63 (797) 344-2571          8

## Algunos campos

In [ ]:
#
# Visualización de los registros duplicados
#
df[
    df.duplicated(
        subset=["clientId", "name"],
        keep="last",
    )
]

    clientId             name               phone  companyId
1          2      Gaven Brito  +51 (870) 799-1508          7
3          4  Corine Dunseith  +63 (797) 344-2571          8
4          5   Ramon Lawrence  +66 (557) 865-3845          6
6          7    Neils Capelen  +86 (361) 914-8734          6
11         4  Corine Dunseith  +63 (797) 344-2571          8

In [ ]:
#
# Visualización de los registros duplicados
#
df[
    df.duplicated(
        subset=["clientId", "name"],
        keep=False,
    )
].sort_values(by=['clientId', 'name'])

    clientId             name               phone  companyId
1          2      Gaven Brito  +51 (870) 799-1508          7
12         2      Gaven Brito  +51 (870) 799-2308          2
3          4  Corine Dunseith  +63 (797) 344-2571          8
11         4  Corine Dunseith  +63 (797) 344-2571          8
14         4  Corine Dunseith  +63 (797) 344-2571          8
4          5   Ramon Lawrence  +66 (557) 865-3845          6
13         5   Ramon Lawrence  +66 (557) 061-3844          5
6          7    Neils Capelen  +86 (361) 914-8734          6
10         7    Neils Capelen  +86 (361) 914-8734          6

## Borrado (Completamente duplicado)

In [ ]:
#
# Borrado de registros duplicados
#
df[df.duplicated()]

    clientId             name               phone  companyId
10         7    Neils Capelen  +86 (361) 914-8734          6
11         4  Corine Dunseith  +63 (797) 344-2571          8
14         4  Corine Dunseith  +63 (797) 344-2571          8

In [ ]:
df.drop_duplicates(inplace=True)
df

    clientId                 name                phone  companyId
0          1   Hersch Szymanowicz  +237 (561) 702-4118          3
1          2          Gaven Brito   +51 (870) 799-1508          7
2          3  Maressa Pavlishchev   +62 (350) 377-8621          4
3          4      Corine Dunseith   +63 (797) 344-2571          8
4          5       Ramon Lawrence   +66 (557) 865-3845          6
5          6     Ibbie Whitehouse   +98 (495) 896-6408          1
6          7        Neils Capelen   +86 (361) 914-8734          6
7          8          Thia Malkie   +46 (564) 145-8997          4
8          9       Missy Folomkin   +33 (962) 798-0776          7
9         10    Eleanor Gallamore   +86 (366) 702-2334          5
12         2          Gaven Brito   +51 (870) 799-2308          2
13         5       Ramon Lawrence   +66 (557) 061-3844          5